<div class="panel panel-default ng-scope">
  <div class="panel-heading">
    <h3 class="panel-title">Make your learning interactive!</h3>
  </div>
  <div class="panel-body">
    <p>Follow along with our <a href="https://boozang.com/videos/" target="_blank">tutorial videos</a>
        by accessing our  <a href="http://tutorials.boozang.com:9000/" target="_blank">E-Commerce site</a>.</p>
       <br/> 
       You will need to have created a project and installed the <a href="https://chrome.google.com/webstore/detail/boozang-ai/bnaebcjlolajbgllgjlmlfobobdemmki"  target="_blank">Boozang Chrome extension</a>. 
    </p>
  </div>
</div>
